* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #ffffff 0%, #47dea9 40%, #18f059 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    /* user-select: none; */
}

h1{
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: black;
}

/* header */

header {
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    transition: background-color 0.3s ease,
            color 0.3s ease,
            transform 0.3s ease;
}

.menu a:hover {
    color: white;
    transform: scale(1.3);
}

/* home */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* conta */

#conta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#fotoPerfil {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    object-fit: cover;

    border: 3px solid rgb(255, 255, 255);
}



/* login e registro */

#login, #registro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    min-height: 70vh;
}

#erro, #erroRE {
    color: red;
    text-decoration: underline;
    font-size: 16px;
}

.CLR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    padding-bottom: 20px;
    gap: 20px;

    background: rgba(5, 97, 25, 0.571);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.CLR button, #intro button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.CLR button:hover, #intro button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.CLR button:active, #intro button:active {
    transform: scale(0.90);
}

.CLR label {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.CLR input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;

    transition: box-shadow 0.2s ease;
}

.CLR input:focus {
    outline: none;
    box-shadow: 0 0 5px 1px black;
}


/* corpo */

#corpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
/* esconer jogos and apps */

.hidden {
  display: none !important;
}

/* jogos and apps */

.card {
    text-align: center;
    width: 150px;
}

.card:hover p {
    color: white;
    text-shadow: 0 0 5px black;
    cursor: pointer;
}

.card:hover img {
    transform: scale(1.1);
    border: #ffffff solid 2px;
}

.card img {
    transition: transform 0.3s ease;
}

.card p {
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* botao de abas */

.abas {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.bnt-abas{
    width: 60px;
    height: 60px;
    background: none;
    border: none;
}
.bnt-abas img {
    width: 60px;
    transition: transform 0.3s ease;
}

.bnt-abas:hover p {
    text-decoration: underline;
    cursor: pointer;
}

.bnt-abas p {
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.bnt-abas:hover img{
    cursor: pointer;
    transform: scale(1.1);
}

/* corpo pos login */

.cama {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    flex-wrap: wrap;
    gap: 20px;
}

/* configurações basicas */
.cama img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cama p {
    font-size: 18px;
    color: rgb(0, 0, 0);  
}

.cama a {
    text-align: center;
    text-decoration: none;
}

/* animações */
.cama img:hover {
    transform: scale(1.1);
    border: #ffffff solid 2px;
    color: white;
}

.cama img:active {
    transform: scale(0.90);
}

#pe{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/* Teste, talvez seja útil para o futuro */

#corpoApps {
    display: flex;
    flex-direction: column;
}

#corpoJogos {
    display: flex;
    flex-direction: column;
}

/* footer */

footer {
    display: inline-block;
    padding: 9px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
}

footer a {
    color: black;
    text-decoration: underline;
}